@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  font-size: 16px;
  color: white;
}

body {
  margin: 0;
  background-color: black;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.loading {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 100vh;
}

.cover {
  pointer-events: none;
  opacity: 0;
  z-index: 0;
  transition: 600ms;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1000ms ease-in-out;
}

.cover img {
  height: 30%;
  width: 30%;
  object-fit: contain;
}

.bg {
  pointer-events: none;
  opacity: 0;
  transition: 600ms;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: 1000ms ease-in-out;
}

.bg audio {
  opacity: 0;
}

.bg .top {
  top: 0;
  left: 0;
  animation: moves ease-in-out infinite 7s;
}

.bg img {
  position: absolute;
}

@keyframes moves {
  0% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  20% {
    opacity: 0;
    transform: translate(40px, 100px);
  }
  22% {
    opacity: 1;
    transform: translate(130px, 160px);
  }
  50% {
    opacity: 1;
    transform: translate(30%, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.creator {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.creator a {
  text-decoration: none;
}

.creator a code {
  color: white;
  background-color: black;
  padding: .4rem 1.5rem;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background-color: white;
}

.box {
  margin-top: calc(100% - 85%);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 600px;
  align-items: center;
  gap: 10px;
}

.btn {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.Lucky {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.Lucky:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}

.Lucky:active {
  border-color: #4285f4;
  outline: none;
}

.searchBtn {
  background-color: #fbbc05;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #313131;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #6a6a6a solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 200ms ease-in-out;
}

.searchBtn:focus {
  outline: 0;
  transition: 200ms ease-in-out;
}

.searchBtn:after {
  content: '';
  position: absolute;
  border: 1px solid #444444;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transition: 100ms ease-in-out;
}

.searchBtn:hover {
  color: white;
  background-color: #4285f4;
}

.searchBtn:hover::after {
  transition: 100ms ease-in-out;
  width: calc(102% - 1px);
  height: calc(102% - 1px);
}

.searchBtn:active::after {
  bottom: 2px;
  left: 2px;
}

.active::before {
  content: 'Noodle';
  position: absolute;
  color: #b3b3b300;
  font-size: 5.1rem;
  -webkit-text-stroke: 1px black;
  transition: 100ms ease-in-out;
  animation: move ease-in-out infinite 1s;
}

@keyframes move {
  0% {
    font-size: 5.2rem;
    transform: translateX(0%);
    -webkit-text-stroke: 1px black;
  }
  25% {
    font-size: 5.1rem;
    transform: translateX(-1%);
  }
  60% {
    font-size: 5.1rem;
    transform: translateX(1%);
  }
  100% {
    font-size: 5rem;
    transform: translateX(0%);
    -webkit-text-stroke: 1px black;
  }
}

.title h1 {
  font-family: 'Inter', sans-serif;
  font-size: 5rem;
  margin: 0px;
  font-weight: 700;
  letter-spacing: -2px;
}

.title h1 span {
  font-family: 'Inter', sans-serif;
}

.title h1::before {
  content: 'Noodle';
  position: absolute;
  color: #b3b3b300;
  -webkit-text-stroke: 1px black;
  transition: 100ms ease-in-out;
}

.search {
  position: relative;
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.search .search-input input {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  padding: 13px 20px;
  padding-left: 50px;
  padding-right: 40px;
  border-radius: 2rem;
  font-size: 1rem;
  color: #343434;
  border: 1px solid rgba(31, 31, 31, 0.152);
  transition: 100ms ease-in-out;
}

.search .search-input input:hover {
  border: 1px solid rgba(31, 31, 31, 0.119);
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.144));
}

.search .search-input input:focus {
  border: 1px solid rgba(31, 31, 31, 0.119);
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.144));
}

.search .icon {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1.3rem;
}

.icons {
  font-size: 20px;
  height: 26px;
  width: 26px;
  pointer-events: visible;
  cursor: pointer;
}

.search-icon {
  height: 20px;
  width: 20px;
  filter: invert(48%);
}

@media (max-width: 655px) {
  .box {
    min-width: 90%;
  }
  .top {
    margin-top: 50%;
  }
  .cover {
    transform: translateY(-20px);
    justify-content: center;
    align-items: flex-start;
  }
}
